{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>OR3</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'website/assets/img/favicons/manifest.json' %}">
    <!--    <script data-main="scripts/app" src="scripts/require.js"></script>-->
    <meta name="msapplication-TileImage" content="{% static 'website/assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    map-->
    <!-- ===============================================-->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="{% static 'website/assets/css/theme.css' %}" />
    <link rel="stylesheet" href="{% static 'website/src/css/index.css' %}" />

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="{% static 'website/src/js/map.js' %}"></script>


</head>


<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="index.html"> <img class="me-3" src="{% static 'website/assets/img/gallery/logo.png' %}" alt="" id="logo" /></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
                        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#home">Home</a></li>
                        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" aria-current="page" href="#universities">Universities</a></li>
                        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#mapSection">configuration</a></li>
                        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#services">services</a></li>
                    </ul>
                    <form class="ps-lg-5">
                        <!--                        <button class="btn btn-outline-primary order-0" type="submit">login</button>-->
                    </form>
                </div>
            </div>
        </nav>
        <section class="py-0" id="home">
            <div class="bg-holder d-none d-md-block" style="background-image:url({% static 'website/assets/img/gallery/opening.png' %}); background-position:right bottom;background-size:contain;margin-top:5.625rem;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder d-block d-md-none" style="background-image:url({% static 'website/assets/img/illustrations/hero-bg.png' %});background-position:right top;background-size:contain;margin-top:5.625rem;">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row align-items-center min-vh-md-75 mt-7">
                    <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                        <h1 class="mt-6 mb-sm-4 display-4 fw-light lh-sm fs-4 fs-lg-6 fs-xxl-7">We Help to <span class="text-primary">Reach</span><br class="d-block d-lg-none d-xl-block" /> 100% autarky </h1>
                        <p class="mb-5 fs-1 lh-lg">We are here to predict you solar panel production to provide improvements for your system and usage.</p><a class="btn btn-lg btn-primary hover-top btn-glow" href="#mapSection">
                            Configure now
                            <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-100 py-5" id="universities">

            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto align-items-center text-center">
                        <h6 class="mb-4 text-uppercase fw-light fs-1 mb-6">Featured Universities & sponser</h6>
                        <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="row h-100 justify-content-center">
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_pxl_digital.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_belgiumCampus.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_Fontys.svg.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_openRemote.png' %}" alt="Sponser" style="width: 8rem; height: 5rem" /></div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <div class="row h-100 justify-content-center">
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_pxl_digital.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_belgiumCampus.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_Fontys.svg.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_openRemote.png' %}" alt="Sponser" style="width: 8rem; height: 5rem" /></div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="1000">
                                    <div class="row h-100 justify-content-center">
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_pxl_digital.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_belgiumCampus.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_Fontys.svg.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_openRemote.png' %}" alt="Sponser" style="width: 8rem; height: 5rem" /></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row h-100 justify-content-center">
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_pxl_digital.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_belgiumCampus.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_Fontys.svg.png' %}" alt="universities" style="width: 8rem; height: 5rem" /></div>
                                        <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="{% static 'website/assets/img/gallery/logo_openRemote.png' %}" alt="Sponser" style="width: 8rem; height: 5rem" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 flex-center">
                                <div class="col-auto position-relative z-index-2">
                                    <ol class="carousel-indicators">
                                        <li class="active mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                                        <li class="mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                                        <li class="mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                                        <li class="mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!--<div id="map"></div>-->
        <section id="mapSection" class="mapSection">
            <div class="container mapGridColHeight">
                <div class="row">
                    <div class="col-sm">
                        <div id="map"></div>
                    </div>
                    <div class="col-sm mapGridColHeight">
                        <form class="mapform mapGridColHeight">
                            <label id="mapLat" hidden></label>
                            <label id="mapLong" hidden></label>
                            <canvas id="myChart"></canvas>

                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center mt-4">
                        <!--<input type="button" name="getWeather" value="Confirm location" class="btn btn-lg btn-primary hover-top btn-glow w-50" id="weatherButton" onclick="MakeMyChart()">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <form class="mapform p-3" id="inputFormSolarSystem" onsubmit="return use()">
                            <!--                            <div class="form-group">-->
                            <!--                                <label for="solarPanelManufacturer">Solar panel manufacturer:</label>-->
                            <!--                                <input type="text" class="form-control" id="solarPanelManufacturer" placeholder="Manufacturer" />-->
                            <!--                            </div>-->
                            <!--                            <div class="form-group mt-2">-->
                            <!--                                <label for="solarPanelModel">Solar panel model:</label>-->
                            <!--                                <input type="text" class="form-control" id="solarPanelModel" placeholder="Model" />-->
                            <!--                            </div>-->
                            <div class="form-group mt-2">
                                <label for="solarPanelCapacity" id="solarpanelCapacity">Solar panel installed capacity:</label>
                                <input type="text" class="form-control" id="solarPanelCap" placeholder="capacity" />
                            </div>
                            <!--                            <div class="form-group mt-2">-->
                            <!--                                <label for="solarPanelConsumptionRangeDay" id="solarPanelConsumptionLabelDay">Average consumption/day</label>-->
                            <!--                                <select class="form-control" id="solarPanelConsumptionRangeDay" onchange="ChangeConsumptionRangeDay(this.value)">-->
                            <!--                                    <option value="0">Select Range</option>-->
                            <!--                                    <option value="1">0-5 Kwh</option>-->
                            <!--                                    <option value="2">5-10 Kwh</option>-->
                            <!--                                    <option value="3">10-15 Kwh</option>-->
                            <!--                                </select>-->
                            <!--                                <input type="range" id="solarPanelConsumptionDay" min="0" max="10" class="w-100" disabled="true" oninput="DisplayConsumptionValueDay(this.value)">-->
                            <!--                            </div>-->
                            <!--                            <div class="form-group mt-2">-->
                            <!--                                <label for="solarPanelConsumptionRangeDay" id="solarPanelConsumptionLabelNight">Average consumption/night</label>-->
                            <!--                                <select class="form-control" id="solarPanelConsumptionRangeNight" onchange="ChangeConsumptionRangeNight(this.value)">-->
                            <!--                                    <option value="0">Select Range</option>-->
                            <!--                                    <option value="1">0-7 Kwh</option>-->
                            <!--                                    <option value="2">7-14 Kwh</option>-->
                            <!--                                    <option value="3">14-20 Kwh</option>-->
                            <!--                                </select>-->
                            <!--                                <input type="range" id="solarPanelConsumptionNight" min="0" max="10" class="w-100" disabled="true" oninput="DisplayConsumptionValueNight(this.value)">-->
                            <!--                            </div>-->
                            <div class="form-group mt-2">
                                <label for="solarPanelOrientation">Solar panel orientation:</label>
                                <select class="form-control" id="solarPanelOrientation" required>
                                    <option value="">Select Orientation</option>
                                    <option value="1">North</option>
                                    <option value="2">North East</option>
                                    <option value="3">East</option>
                                    <option value="4">South East</option>
                                    <option value="5">South</option>
                                    <option value="6">South West</option>
                                    <option value="7">West</option>
                                    <option value="8">North West</option>
                                </select>
                            </div>

                            <div class="form-group mt-2">
                                <label for="solarPanelazimuth">Solar panel azimuth:</label>
                                <input type="text" class="form-control" id="solarPanelazimuth" placeholder="Azimuth" />
                            </div>

                            <div class="form-group mt-2">
                                <label for="solarPanelpitch" id="solarPanelPitchLabel">Solar panel pitch:</label>
                                <input type="range" id="solarPanelPitch" min="0" max="90" class="w-100" oninput="DisplayPitchValue(this.value)" required>
                            </div>


                            <div class="form-group text-center mt-2">
                                <input type="submit" class="btn btn-primary mb-2 m-1 button-width" value="Confirm">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h5 class="mt-3 mb-sm-4 display-4 fw-light lh-sm fs-4 fs-lg-3 fs-xxl-3 text-center">Prediction Results:</h1>
                <section class="bg-100 py-5" id="predictionSection">
                    <div class="container mapGridColHeight">
                        <div class="row">
                            <div class="col-sm mapGridColHeight">
                                <canvas id="predictionChart" style="position: relative" height="80%"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
        </section>



        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!--        <section id="PredictionChart" style="width: 40%;" class="py-0">-->
        <!--            <canvas id="myChart"></canvas>-->
        <!--        </section>-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->


        <section class="py-0 bg-primary">

            <div class="container">
                <div class="row justify-content-between pb-2 pt-8">
                    <div class="col-12 col-lg-auto mb-5 mb-lg-0">
                        <a class="d-flex align-items-center fw-semi-bold fs-3" href="#"> <img class="me-3" src="{% static 'website/assets/img/gallery/logo_openRemote.pn' %}g" alt="..." </a>
                            <p class="my-3 text-100 fw-light">With love from our international team</p>
                    </div>
                    <div class="col-auto mb-3">
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">About Us</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Responsibilities</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Our Services</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-auto mb-3">
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Disclaimer</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Disclaimer</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Privacy Policy</a></li>
                            <li class="mb-3"><a class="text-100 fw-light text-decoration-none" href="#!">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{% static 'website/src/js/map.js' %}"></script>
    <script src="{% static 'website/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'website/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'website/assets/js/theme.js' %}"></script>
    <script src="{% static 'website/src/js/SolarInput.js' %}"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>

</html>